@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  min-height: 100vh;
  background: radial-gradient(
    circle at top left,
    #1e3a8a,
    #020617 60%
  );
  color: #e5e7eb;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

input {
  outline: none;
}
